.jumbotron-content{
font-family: courier,arial,helvetica;
font-size: 58px;
padding-top: 0px;
padding-bottom: 0px;
}
span{
    font-style: italic ;
}
.aboutBlock{
font-family: courier,arial,helvetica;
font-size: 25px;
font-weight: bold;
color: darkred;
}

.p{
      font-weight: bolder;
}

.heading
{
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-style: italic ;
color: maroon;
}

body{

    background-image: url("https://images.squarespace-cdn.com/content/v1/54d2568fe4b0a766c32c59ea/1454103335460-ZUMDA6JJK0SC86H3BMJS/ke17ZwdGBToddI8pDm48kFWxnDtCdRm2WA9rXcwtIYR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UcTSrQkGwCGRqSxozz07hWZrYGYYH8sg4qn8Lpf9k1pYMHPsat2_S1jaQY3SwdyaXg/Feb32016-Music-evoked+Emotions+Influence+Cognition.jpg");
    background-size: cover;
}
#feeling {
    font-family: "Arial Black", Gadget, sans-serif;
}

#btn1 {
    background-color: #ffca28;
    font-family: Impact, Charcoal, sans-serif;
    width: 100px;
    opacity: 0.5;
}

#btn1:hover {
    opacity: 1.0;
}

#btn2 {
    width: 100px;
    font-family: Impact, Charcoal, sans-serif;
    background-color: #0277bd;
    opacity: 0.5;
}

#btn2:hover {
    opacity: 1.0;
}