.jumbotron-content {
    font-family: courier, arial, helvetica;
    font-size: 90px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.aboutBlock {
    font-family: courier, arial, helvetica;
    font-size: 45px;
    font-weight: bold;
    color: crimson;
}

.p {
    font-weight: bolder;
    color: ivory;
    font-style: italic;
}

.heading {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: crimson;
    font-size: 50px;
}

body {
    background-image: url("https://images.squarespace-cdn.com/content/v1/54d2568fe4b0a766c32c59ea/1454103335460-ZUMDA6JJK0SC86H3BMJS/ke17ZwdGBToddI8pDm48kFWxnDtCdRm2WA9rXcwtIYR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UcTSrQkGwCGRqSxozz07hWZrYGYYH8sg4qn8Lpf9k1pYMHPsat2_S1jaQY3SwdyaXg/Feb32016-Music-evoked+Emotions+Influence+Cognition.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    backdrop-filter: blur(5px);
}

#feeling {
    font-family: "Arial Black", Gadget, sans-serif;
    color: lightyellow;
}


/* happy button styles */

#btn1 {
    background-color: #ffca28;
    font-family: Impact, Charcoal, sans-serif;
    width: 100px;
    opacity: 0.7;
    width: 200px;
    font-size: 30px;
}

#btn1:hover {
    opacity: 1.0;
}


/* end happy button edits */


/* sad button styles */

#btn2 {
    font-size: 30px;
    font-family: Impact, Charcoal, sans-serif;
    background-color: #0277bd;
    opacity: 0.7;
    width: 200px;
}

#btn2:hover {
    opacity: 1.0;
}


/* end sad button edits */


/* mad button styles */

#btn3 {
    font-size: 30px;
    font-family: Impact, Charcoal, sans-serif;
    background-color: #f44336;
    opacity: 0.7;
    width: 200px;
}

#btn3:hover {
    opacity: 1.0;
}


/* end mad button edits */


/* love button styles */

#btn4 {
    font-size: 30px;
    font-family: Impact, Charcoal, sans-serif;
    background-color: pink;
    opacity: 0.7;
    width: 200px;
}

#btn4:hover {
    opacity: 1.0;
}


/* end love button edits */

.center-this {
    text-align: center;
}

#artistwell {
    text-align: center;
}

.hide {
    display: none;
}

#suggestions {
    background-color: antiquewhite;
}


/*@media (max-width: 1761px) {
    .col.s9 {
        color: lightyellow;
    }
}*/

@media (max-width: 768px) {
    .color-sm {
        color: crimson;
    }
}

html {
    scroll-behavior: smooth;
}